<h2>Edges</h2>

<div class="row">
  <div class="form-group col-xs-3">
    <input type="search" name="search" class="form-control" placeholder="Type something..."
    ng-model="edgesCtrl.filterBy.search">
  </div>

  <div class="form-group col-xs-3">
    <select name="category" class="form-control"
    ng-model="edgesCtrl.filterBy.category"
    ng-options="category.name for category in edgesCtrl.categories"
    ></select>
  </div>

  <div class="form-group col-xs-3">
    <select name="rank" class="form-control"
    ng-model="edgesCtrl.filterBy.rank"
    ng-options="rank.name for rank in edgesCtrl.ranks"
    ></select>
  </div>

  <div class="for-group col-xs-3">
    <button class="btn btn-warning" ng-click="edgesCtrl.resetFilter()">Reset</button>
  </div>
</div>

<ul>
  <li
  ng-repeat-start="edge in edgesCtrl.edges | filter:edgesCtrl.filterBy.search | edges:edgesCtrl.filterBy"
  ng-click="edgesCtrl.selectEdge(edge)">
    <span class="label label-default">{{edge.category.name}}</span>
    {{edge.name}}
    <span class="text-muted">
      ({{edgesCtrl.displayRequirements(edge.requirements)}})
    </span>
  </li>
  <li ng-repeat-end ng-show="edgesCtrl.isSelected(edge)" class="no-list-style">
    {{edge.description}}
  </li>
</ul>
